<div class="jumbotron" style="background-image: https://www.thoughtco.com/thmb/I92hfGFxomX_hFtcRXQC35N07hg=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-537436868-58e097d93df78c5162fcf65e.jpg">
  <div class="container-home">
    <h1 class="logo"><i class="fa fa-glide"></i></h1>
    <input class="ui-g-offset-2 ui-g-8 ui-g-offset-2 nata-search" type="text" placeholder="Procure vagas aqui..."
      pinputText>
  </div>
</div>

<guava-card-vaga *ngFor="let job of jobs" (click)="goToDetail(job)" [job]="job"></guava-card-vaga>