::ng-deep .card-nata:hover {
    box-shadow: 0 25px 35px rgba(0,0,0,0.15);
    transform: scale(1.02, 1.02);
}

.logo-empresa {
    height: 150px;
    width: 150px;
}

.nata-search {
    margin-bottom: 46px;
    margin-right: 10px;
    width: 400px;
    height: 42px;
    border-radius: 15px;  
    padding: 10px;
    outline: none;
}

.nata-search-local {
    margin-bottom: 46px;
    margin-right: 10px;
    width: 300px;
    border-radius: 15px;
    height: 42px;  
    padding: 10px;
    outline: none;
}

.logo {
    color: deeppink;
    text-align: center;
    font-size: 122px;
    font-family: serif;
    font-weight: bold;
}

.jumbotron {
    background-image: url("../../../../assets/home-img.jpeg");
    background-position-y: 50%;
    opacity: 0.5;
    height: 285px;
  }

  .btn-lupa {
    background: #388f25;
    color: white;
    height: 46px;
    border-radius: 50px;
    border: 1px solid gray;
  }
