<input  class="ui-g-offset-2 ui-g-8 ui-g-offset-2 nata-search" 
        type="text" 
        placeholder="Procure vagas aqui..." 
        pinputText>
        
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>
<p-card class="ui-g-3" 
        header="Java Senior" 
        subheader="IVIA" 
        [style]="{'text-align':'center', 'border-radius':'10px', 'box-shadow': '3px', width: '250px', height:'300px'}" 
        styleClass="ui-card-shadow card-nata">
  
        <div> 
            <img class="card-img-top img-fluid logo-empresa"
                    src="https://www.logolynx.com/images/logolynx/25/25d2bb203fe4b2fce58d049f588f3336.jpeg" 
                    alt="sua imagem aqui">
        </div>

  <p-footer>
      <button pButton type="button" label="Ver Mais" icon="pi pi-check"></button>
  </p-footer>
</p-card>