<div class="jumbotron" style="height:330px">
  <div class="container-home">
    <h1 class="logo"><i class="fa fa-glide"></i></h1>
    <div class="text-center mt-3 mb-3">
      <form>
          <input 
              #contentInput
              class="nata-search" 
              type="search" 
              placeholder="procure por vagas..." 
              autofocus
              [value]="content"
              >
              <input
                #placeInput
                class="nata-search-local" 
                type="search" 
                placeholder="Localidade" 
                autofocus>
              <button type="button" (click)="search()" class="btn btn-lupa"><i class="fa fa-search"></i></button>
      </form>
  </div>
  </div>
</div>

<div class="mx-auto">
  <guava-card-vaga style="margin-left:70px;" *ngFor="let job of jobs" (click)="goToDetail(job)" [job]="job"></guava-card-vaga>
</div>

<div class="row">
    <button type="submit" class="btn btn-primary col-md-6 offset-md-3 mt-3 mb-3">Carregar Mais Vagas</button>
</div>