<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p class="label-waiting">Preparando Questões...</p>
</ngx-spinner>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Questionario Pronto!</h4>
    <button type="button" class="close" aria-label="Voltar" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Atenção</p> 
    <ul>
      <li>Fique de olho no tempo, pois o questionario será interrompido assim que o tempo acabar.</li>
      <li>Para confirmar resposta da questão, selecione o ítem e clique em 'confirmar resposta'</li>
      <li>Cada resposta só será salva se clicar no botão 'confirmar resposta'</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="cancelar()">Voltar</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Close click'); start()">Iniciar</button>
  </div>
</ng-template>

<div>

  <div *ngIf="loaded">

    <div class="row justify-content-md-center header-questionary">
      <i class="fa fa-clock" style="margin-right:10px"></i>      
      <p class="time-question"> 
        {{timer | formaterTime}} | {{questionary?.job?.title}} -
        {{questionary?.job?.userCompany.name}}</p>
    </div>  

    <div class="scrolled-container col-md-10 offset-md-1">
      <div class="card card-question-answers" *ngFor="let question of questionary?.questions">
        <div class="card-question">
          <div class="card-body">
            <p class="card-text" style="white-space: pre-line">
              {{question.textQuestion}}
            </p>
          </div>
        </div>
        <div 
            *ngFor="let item of question.itens"
            (click)="onItemClicked(item,question)" 
            [ngClass]="question.itemChosen === item ? 'item-chosen': 'item-not-chosen'"
            class="card card-answer">
          <div class="card-body">
            <p class="card-text" style="white-space: pre-line">
              {{item.text}}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
          <button type="submit" (click)="finishQuestionary()" class="btn btn-primary col-md-8 offset-md-2 btn-finalizar">Enviar Respostas</button>
      </div>
    </div>

  </div>

</div>