.card-question {
    margin: 25px 15px 20px 15px;
    color: white;
    background: gray;
}

.card-answer {

    margin: 10px 50px 10px 50px;
    cursor: pointer;
}

.card-answer:hover {
    box-shadow: 0 25px 35px rgba(0,0,0,0.15);
    transform: scale(1.02, 1.02);
}

.time-question {
    margin-right: 35px;
    margin-left: 35px;
}

.labels-questionary {
    text-align: center;
}

.btn-arrow {
    width: 60px;
    cursor: pointer;
}

.btn-answer {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.label-titulo {
    margin-top: 15px;
}

.label-empresa {
    margin-top: -15px;
    color: gray;
}

.card-content-questionario {
    margin: 160px;
    padding: 50px;
    margin-top: 15px;
}