<div class="vagas-andamento-container">
  <h4 class="title-vagas-andamento">Vagas em Endamento</h4>
  <div class="container-fluid">
    <div class="row">
      
        <guava-card-vaga *ngFor="let job of jobs" [job]="job"></guava-card-vaga>
    </div>

    <div class="row">
      <h4 class="title-vagas-andamento">Histórico de Vagas</h4>
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Latest Orders</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Título Vaga</th>
                  <th>Localidade</th>
                  <th>Candidatos Selecionados</th>
                  <th>Data de Abertura</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Java Junior</td>
                  <td>Fortaleza - CE</td>
                  <td>3</td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">12/11/2018</div>
                  </td>
                </tr>
                <tr>
                  <td>Java Junior</td>
                  <td>Fortaleza - CE</td>
                  <td>3</td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">12/11/2018</div>
                  </td>
                </tr>
                <tr>
                  <td>Java Junior</td>
                  <td>Fortaleza - CE</td>
                  <td>3</td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">12/11/2018</div>
                  </td>
                </tr>
                <tr>
                  <td>Java Junior</td>
                  <td>Fortaleza - CE</td>
                  <td>3</td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">12/11/2018</div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Criar Nova Vaga</a>
        </div>
        <!-- /.box-footer -->
      </div>

    </div>