<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Opa! Você já submeteu questionário para essa vaga.</h4>
    <button type="button" class="close" aria-label="Voltar" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Atenção</p>
    <ul>
      <li>Procure pelo seu resultado em seu <span class="btn btn-link"
          (click)="modal.close('Close click'); gotohome()">Histórico de Vagas</span>.</li>
    </ul>
  </div>
</ng-template>

<ng-template #twoJobsTakenModal let-modalJobs>
  <div class="modal-header">
    <h4 class="modal-title">Opa! Você já está concorrendo em duas vagas.</h4>
    <button type="button" class="close" aria-label="Voltar" (click)="modalJobs.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <h6>Para concorrer nessa vaga, você precisa cancelar uma das vagas inscritas</h6>
  <label>Ir para <span class="btn btn-link"
          (click)="modalJobs.close('Close click'); gotohome()">Histórico de Vagas</span>.</label>
  </div>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Questionário está prestes a começar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Para iniciar, clique em 'Começar'</h5>
        <h6>obs: Após clicar em Começar, o usuário não poderá refazer o questionário.</h6>
        <label></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Agora não</button>
        <button type="button" data-dismiss="modal" (click)="startQuiz()" class="btn btn-success">Começar</button>
      </div>
    </div>
  </div>
</div>



<div class="jumbotron jumbotron-job">
  <div class=" text-center title-job-detail">{{job.title}} - <span class="text text-info label-status">{{statusJobLabel}}</span>
  </div>
  <div class="subtitle-job-detail text-center">{{job.userCompany?.name}} - {{job.location}}</div>
  <div *ngIf="isOwner" class="text-center">
    <button *ngIf="job.status != 'CLOSED'" class="btn btn-danger" (click)="cancelJob()">Encerrar Vaga</button>
  </div>
  <div class="link-editar" *ngIf="isOwner" class="text-center">
    <button type="button" [routerLink]="['/form-job',job.id]" class="btn btn-link">Editar Vaga</button>
  </div>
  <div class="link-editar" *ngIf="isOwner" class="text-center">
    <button type="button" [routerLink]="['/form-job',job.id]" class="btn btn-link">Editar Vaga</button>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="offset-md-1 col-md-8">
      <h3>Descrição</h3>
      <div class="descricao" style="white-space: pre-line">
        {{job.description}}
      </div>
    </div>

    <div class="col-md-3">
      <h3>Tags</h3>
      <label class="ml-1 mr-1 p-1 tag-conteudo" *ngFor="let c of job.contents">{{c.contentTag.tagname}}</label>

    </div>
  </div>
  <div showIfCandidate class="row">
    <div class="col-md-12 mt-5 mb-4">
      <button 
        type="submit" 
        data-toggle="modal" 
        data-target="#exampleModal" 
        class="btn btn-success offset-md-1 col-md-8">
        Fazer Questionário
      </button>
    </div>
    <div class="col-md-12 mt-2 mb-4">
      <button type="submit" (click)="startSimulado()" class="btn btn-link offset-md-1 col-md-8">Não confiante ainda?
        Fazer Simulado</button>
    </div>
  </div>
</div>


<div *ngIf="isOwner" class="container">
  <div class="offset-md-1 col-md-8">
    <div class="row">
      <h3>Resultado em Tempo Real</h3>
    </div>

      <guava-job-ranking [resultCandidates]="resultCandidatesJob"
        [numberOfBestCandidates]="job.numberOfBestCandidates"></guava-job-ranking>
  </div>
</div>