.title-job-detail {
    font-size: 28px;
}

.subtitle-job-detail {
    color: dodgerblue;
}

.tag-conteudo {
    border-radius: 10px;
    background: tomato; 
    color: white;
    box-shadow: 0 25px 35px rgba(0,0,0,0.15);
    transform: scale(1.02, 1.02);   
}