<div class="vagas-andamento-container">
    <h4 class="title-vagas-andamento">Vagas Inscritas</h4>
    <div class="container-fluid">
      <div class="row">
        <guava-card-vaga *ngFor="let job of jobsAndamento" (click)="goToDetail(job)" [job]="job"></guava-card-vaga>
      </div>
  
      <div class="row container-historico">
          <h4 class="title-vagas-andamento">Histórico de Vagas</h4>
        <div class="card card-historico">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Título</th>
                <th scope="col">Criação</th>
                <th scope="col">Encerramento</th>
                <th scope="col">Nº Selecionáveis</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jh of jobsHistorico">
                <td scope="row">{{jh.title}}</td>
                <td>12/04/2019</td>
                <td>22/04/2019</td>
                <td>{{jh.numberOfBestCandidates}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>