<div class="vagas-andamento-container">
    <h4 class="title-vagas-andamento">Vagas Inscritas</h4>
    <div class="container-fluid">
      <div class="row">
        <guava-card-vaga *ngFor="let job of jobs" (click)="goToDetail(job)" [job]="job"></guava-card-vaga>
      </div>
  
      <div class="row">
        <h4 class="title-vagas-andamento">Histórico de Vagas</h4>
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Minhas Vagas</h3>
  
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          
          <div class="box-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Criar Nova Vaga</a>
          </div>
          <!-- /.box-footer -->
        </div>
  
      </div>