.card-historico {
    width: 100%;
    
}

.container-historico {
    margin:20px;

    display: flex;
    padding: 20px;
}

.card-historico {
    margin: 20px;
}

.vagas-andamento-container {
    padding: 20px;
}