<aside class="main-sidebar">
  <section class="sidebar">
    
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Vagas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Publicar Nova Vaga</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Histórico de Vagas</a></li>
        </ul>
      </li>
    </ul>
  </section>