<div class="card card-vagas-inscritas">
    <div class="job-history-container">
        <h4 class="mt-2 titulo-card">Histórico de vagas</h4>
        <hr/>
      <div *ngIf="jobs.length; else noJobs" class="card card-historico">
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: center" scope="col">Título</th>
              <th style="text-align: center" scope="col">Criação</th>
              <th style="text-align: center" scope="col">Encerramento</th>
              <th style="text-align: center" scope="col">Nº Selecionáveis</th>
              <th *ngIf="!isCompany" style="text-align: center" scope="col">Sua Posição</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-old-job" *ngFor="let jh of jobs">
              <td style="text-align: center" scope="row" class="label-table-value">{{jh.title}}</td>
              <td style="text-align: center" class="label-table-value">12/04/2019</td>
              <td style="text-align: center" class="label-table-value">22/04/2019</td>
              <td style="text-align: center" class="label-table-value">{{jh.numberOfBestCandidates}}</td>
              <td *ngIf="!isCompany" style="text-align: center" class="label-table-value">4°</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noJobs>
          <label class="text-center"> Não há vagas registradas no seu histórico</label>
        </ng-template>
    </div>
  </div>