<div class="col-md-8 offset-md-2 mt-2">
    <div class="login-logo">
      <span class="text text-info"><b class="login-logo-color">Olá, Empresa</b></span>
      <h6 class="login-logo-color">cadastre-se e tenha em mãos a nata dos candidatos</h6>
    </div>
    
    <div class="login-box-body card-login col-md-8 offset-md-2">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
              <input formControlName="email" type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="row mb-3">
            <div class="column offset-md-1 col-md-5">
                <input formControlName="password" type="password" class="form-control" placeholder="Senha">
            </div>
            <div class="column col-md-5">
                <input type="password" class="form-control" placeholder="Conf. Senha">
            </div>
  
          </div>
  
          <div class="row mb-3">
            <div class="col-md-10 offset-md-1">
              <input formControlName="name" type="text" class="form-control" placeholder="Nome">
            </div>
          </div>
        
        <div class="row mb-3">
          <div class="col-md-10 offset-md-1">
            <input formControlName="phone" type="text" class="form-control" placeholder="Telefone para contato: (85) 99999-9999">
          </div>
        </div>
  
        <div class="row mb-3 offset-md-4 col-md-4">
          <button type="submit" [disabled]="signupForm.invalid" class="btn btn-info pull-right col-md-12 mb-2 mt-2">Cadastrar</button>
          <button type="submit" class="btn btn-link col-md-12">Cancelar</button>
        </div>
  
      </form>
  
  
    </div>
  
  </div>