<div class="col-md-6 signin-card">
  <!-- Horizontal Form -->
  <div class="box box-info form-login">
    <div class="box-header with-border">
      <h3 class="box-title">Login</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label"> Email</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Senha</label>

          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer btns-login">
        <button type="submit" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Sign in</button>
      </div>
      <!-- /.box-footer -->
    </form>
    <div class="link-signup">
      <span>Ainda não cadastrado?</span>
      <a style="display:block" href="">Sou uma Empresa, quero me Cadastrar!</a>
      <a style="display:block" href="">Sou candidato, quero me Cadastrar!</a>
    </div>
  </div>
</div>