.logo-empresa {
    padding: 40px;
    height: 270px;
    width: 270px;
}

.title-empresa-name {
    text-align: center;
    font-family: sans-serif;
}

.local-empresa-vaga {
    color: darkgray;
    text-align: center;
}

.list-group-item-1 {
    background: red;
    color: white;
    border-radius: 10px;
    display: inline-block;
    width: 60px;
    text-align: center;
    margin: 5px;
}

.list-group-item-2 {
    background: darkcyan;
    color: white;
    border-radius: 10px;
    display: inline-block;
    width: 60px;
    text-align: center;
    margin: 5px;
}

.list-group-item-3 {
    background: green;
    color: white;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    width: 60px;
    margin: 5px;
    
}

.titulo-card {
    text-align: center;
    font-weight: bold;
    color: gray;
}

.card-nataguava {
    border-radius: 15px;
    width: 295px;
    height: 403px;
    box-shadow: 3px; 
}

.card-nataguava:hover {
    box-shadow: 0 25px 35px rgba(0,0,0,0.15);
    transform: scale(1.02, 1.02);
  }