<div class="box box-warning">
  <div class="box-header with-border">
    <h3 class="box-title">Java Backend</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div>
      IVIA
    </div>
    <div>
      Iniciada em: 12/01/2019
    </div>
    <div>
      <i class="fa fa-map-marker"></i> Fortaleza - CE
    </div>
    <div>
      <ul>
        <li class="item-label-tag">
          <span class="label label-info">Java</span>
        </li>
        <li class="item-label-tag">
          <span class="label label-success">JS</span>
        </li>
        <li class="item-label-tag">
          <span class="label label-primary">MySQL</span>
        </li>
      </ul>
    </div>
  </div>
</div>