
  <div class="card card-nataguava">
    <h3 class="card-header titulo-card">
        {{title}}
    </h3>
    <img class="card-img-top img-fluid logo-empresa" [src]="image" [alt]="title">
    <div class="card-block">
      <h4 class="local-empresa-vaga">{{localidadeVaga}}</h4>
      <p class="card-text"></p>
    </div>
    <ul class="tags">
      <li class="list-group-item-1">Java</li>
      <li class="list-group-item-2">JS</li>
      <li class="list-group-item-3">MySQL</li>
    </ul>
  </div>

