::ng-deep .card-nata:hover {
    box-shadow: 0 2px 5px lightgray;
    transform: scale(1.02, 1.02);
}

.nata-search {
    margin-bottom: 46px;
    margin-top: 148px;
    border-radius: 35px;
}

.card-nata {
    margin: 10px;
    cursor: pointer;
    
}

.label-company {
    text-align: center;
    color: gray;
}

.label-location {
    text-align: center;
    color: #3c8dbc;
}

.label-title {
    text-align: center;
    background: white;
    color: #2d8f24;
    font-weight: bold;
    font-size: 15px;
    
}